<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs File</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body ">
    <h1 style="color:#C147E9;">
Today is 
        <%=Day %>
    </h1>

    <ul type="none" font="20px">
        <li >
            soyabean chilly
        </li>
        <li>
            manchoorian
        </li>
        <li>
            chineese
        </li>
        <li>
            maggie
        </li>
    
       <% for(var i=0;i<newItems.length;i++){ %>

        <li>
           <%= newItems[i].name; %>
        </li>
       <% }%>
    </ul>
    <form action="/" method="post">
        <input type="text" name="inp" id="input1">
        <button type="submit">GO</button>
    </form>
</body>
</html>